<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Product</h1>
            <p>>Product1</p>
            <p>>Product2</p>
            <p>>Product3</p>
            <p>>Product4</p>
        </div>
    </main>
</body>
</html>
